<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>"データ挿入ページ"</title>
<style>	
</style>
</head>
<body>
<h1 style="text-align:center">データ挿入ページ</h1>
<form method="get" action="#" th:action="@{/confirm}" th:object="${input}">

		<p>名前：<input type="text" name="name" th:value="*{name}"></p>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>
		
		<p>年齢：<input type="text" name="age" th:value="*{age}"></p>
		<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">エラーメッセージ</div>
		
		<p>身長：<input type="text" name="sinntyou" th:value="*{sinntyou}"></p>
		<div th:if="${#fields.hasErrors('sinntyou')}" th:errors="*{sinntyou}">エラーメッセージ</div>

		<p>体重：<input type="text" name="taijuu" th:value="*{taijuu}"></p>
		<div th:if="${#fields.hasErrors('taijuu')}" th:errors="*{taijuu}">エラーメッセージ</div>
		
		<p>血圧（上）：<input type="text" name="ketuatuue" th:value="*{ketuatuue}"></p>
		<div th:if="${#fields.hasErrors('ketuatuue')}" th:errors="*{ketuatuue}">エラーメッセージ</div>
		
		<p>血圧（下）：<input type="text" name="ketuatusita" th:value="*{ketuatusita}"></p>
		<div th:if="${#fields.hasErrors('ketuatusita')}" th:errors="*{ketuatusita}">エラーメッセージ</div>
		
		<p>メモ：<input type="text" name="memo" th:value="*{memo}"></p>
		<div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}">エラーメッセージ</div>
		
		<div><input type="submit" value="確定"></div>

	</form>
  
</body>
</html>