<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>登録完了 - </title>
	<meta charset="utf-8" />
	</head>

	<body>
	
			<h1>登録完了</h1>
			<div>
				<p>登録が完了しました！</p>
			</div>
			<!--	<p></p>-->
			<!--	<a href="http://localhost:8080/list" class="DivLink">一覧画面へ</a>-->

			<div>
				<p>
				<form method="get" action="#" th:action="@{/form}">

					<input type="submit" value="一覧画面へ">

				</form>
				
				<p></p>
			</div>

<!--			<div>-->


<!--				<form method="get" action="#" th:action="@{/home}">-->

<!--					<input type="submit" value="ホーム画面へ">-->

<!--				</form>-->
				
<!--			</div>-->

	</body>

</html>