<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>"健康管理システム"</title>
<style>	
</style>
</head>
<body>
<h1 th:text="${title}"></h1>
<table>
		<tr>
			<td>
				<form action="#" method="get" th:action="@{/add}">

					<input type="submit" value="登録画面">



				</form>
			</td>
			<td>　　</td>
			<td>


				<form action="#" method="get" th:action="@{/form}">

					<input type="submit" value="一覧ページ">
				</form>
			</td>
		</tr>
	</table>

<!-- <button class="favorite styled"type="button">-->
<!--    "登録画面"-->
    
<!-- <button class="favorite styled" type="button">-->
<!--    "一覧画面"-->
<!--</button>-->

</body>
</html>